@model IEnumerable<Doctor>

<h2>Liječnici</h2>

<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Ime i Prezime</th>
            <th>Titula</th>
            <th>Šifra</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.Surname, @doctor.Name</td> 
                <td>@doctor.Title</td>
                <td>@doctor.DoctorCode</td>
                <td>
                    <a href="@(Url.Action("Edit", new { id = doctor.Id }))" class="btn btn-primary">Uredi</a>
                    <form method="post" action="@(Url.Action("DeleteConfirmed", new { id = doctor.Id }))" style="display:inline;" onsubmit="return confirmDelete();">
                        <input type="hidden" name="id" value="@doctor.Id" />
                        <button type="submit" class="btn btn-danger">Obriši</button>
                    </form></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Doctor/AddDoctor" class="btn btn-primary">Novi liječnik</a>

@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            
            return confirm('Da li ste sigurni da želite izbrisati liječnika?');
        }
    </script>
}
